<!DOCTYPE html>
<html>
<head>
    <title>Admin Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <h1>Admin Page</h1>
    
    <form action="/admin" method="post">
        <label for="on">ON</label>
        <input type="radio" id="on" name="switch" value="on">
        <label for="off">OFF</label>
        <input type="radio" id="off" name="switch" value="off">
        <button type="submit">Submit</button>
    </form>
    
    
</body>
</html>